{% extends 'base.html' %}
{% load static %}
{% block title %}Play{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div style="position: relative; width: 960px; height: 540px;">
        <img id="bg-gif"
             src="{% static 'assets/background/' %}{{ bg_gif }}"
             style="position: absolute; top: 0; left: 0; width: 960px; height: 540px; z-index: 0;">
        <div id="game-container"
             style="position: absolute; top: 0; left: 0; z-index: 1;">
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/phaser@4/dist/phaser.js"></script>
<script>
    const IS_PREMIUM = {{ is_premium|yesno:"true,false" }};
    const USERNAME = "{{ username }}";
    const CURRENT_WORLD = "{{ current_world }}";
    const WORLDS_UNLOCKED = {{ worlds_unlocked }};

    const PLAYER_OC = "{% static 'assets/devs/oc_dev.png' %}";
    const PLAYER_CC = "{% static 'assets/devs/cc_dev.png' %}";
    const PLAYER_CS = "{% static 'assets/devs/cs_dev.png' %}";
    const PLAYER_BM = "{% static 'assets/devs/bm_dev.png' %}";

    const OBS_OC = [
        "{% static 'assets/elements/oc_404.png' %}",
        "{% static 'assets/elements/oc_anchor.png' %}",
        "{% static 'assets/elements/oc_cookie.png' %}",
        "{% static 'assets/elements/oc_jellyfish.png' %}",
        "{% static 'assets/elements/oc_snail.png' %}",
        "{% static 'assets/elements/oc_virus.png' %}",
        "{% static 'assets/elements/oc_link.png' %}",
        "{% static 'assets/elements/oc_ladybug.jpg' %}"
    ];
    const FINISH_OC = "{% static 'assets/elements/oc_finish.png' %}";

    const OBS_CC = [
        "{% static 'assets/elements/cc_cloud.png' %}",
        "{% static 'assets/elements/cc_disk.png' %}",
        "{% static 'assets/elements/cc_drone.png' %}",
        "{% static 'assets/elements/cc_key.png' %}",
        "{% static 'assets/elements/cc_ladybug.png' %}",
        "{% static 'assets/elements/cc_memory.png' %}",
        "{% static 'assets/elements/cc_storage.png' %}",
        "{% static 'assets/elements/cc_virus.png' %}"
    ];
    const FINISH_CC = "{% static 'assets/elements/cc_finish.png' %}";
</script>
<script src="{% static 'assets/game.js' %}"></script>
{% endblock %}