{% extends 'base.html' %}
{% load static %}
{% block title %}Play{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div style="position: relative; width: 960px; height: 540px;">
        <img src="{% static 'assets/background/ocean_loop.gif' %}"
             style="position: absolute; top: 0; left: 0; width: 960px; height: 540px; z-index: 0;">
        <div id="game-container"
             style="position: absolute; top: 0; left: 0; z-index: 1;">
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/phaser@4/dist/phaser.js"></script>
<script>
    const PLAYER_SPRITE = "{% static 'assets/devs/ocean_player.png' %}";
    const OBS_404 = "{% static 'assets/elements/oc_404.png' %}";
    const OBS_ANCHOR = "{% static 'assets/elements/oc_anchor.png' %}";
    const OBS_COOKIE = "{% static 'assets/elements/oc_cookie.png' %}";
    const OBS_JELLYFISH = "{% static 'assets/elements/oc_jellyfish.png' %}";
    const OBS_SNAIL = "{% static 'assets/elements/oc_snail.png' %}";
    const OBS_VIRUS = "{% static 'assets/elements/oc_virus.png' %}";
    const OBS_LINK = "{% static 'assets/elements/oc_link.png' %}";
    const OBS_LADYBUG = "{% static 'assets/elements/oc_ladybug.jpg' %}";
    const OBS_FINISH = "{% static 'assets/elements/oc_finish.png' %}";
    const IS_PREMIUM = {{ is_premium|yesno:"true,false" }};
    const USERNAME = "{{ username }}";
</script>
<script src="{% static 'assets/game.js' %}"></script>
{% endblock %}